*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.country{
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
.city{
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
.industry{
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}
.btn_country{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 1px 0px rgba(197, 195, 195, 0.5);
    border-radius: 5px;
}
.btn_city{
    width: 49%;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 1px 0px rgba(197, 195, 195, 0.5);
    border-radius: 5px;
}

.btn_industry{
    width: 49%;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 1px 0px rgba(197, 195, 195, 0.5);
    border-radius: 5px;
}